
body{
    background-color:deepskyblue;
    text-align:center;
} 
#faff{
    color:hsl(120, 78%, 66%);
    font-family: 'Times New Roman';
}
#modeldesc{
color:hsl(120, 78%, 66%);
font-family: 'Times New Roman';
}